:root {
  --bg-color: hsl(0, 0%, 98%);
  --elements-bg-color: white;
  --text-color: hsl(235, 19%, 35%);
  --task-complete-color: hsl(233, 11%, 84%);
  --cb-border: hsl(236, 33%, 92%);
  --shadow-outline: 0px 0px 26px lightgray;
  --filter-info: hsl(236, 9%, 61%);
  --bg-image-mobile: url(../images/bg-mobile-light.jpg);
}

[data-theme="dark"] {
  --bg-color: hsl(235, 21%, 11%);
  --elements-bg-color: hsl(235, 24%, 19%);
  --text-color: hsl(234, 39%, 85%);
  --task-complete-color: hsl(234, 11%, 52%);
  --cb-border: hsl(233, 14%, 35%);
  --shadow-outline: 0px 0px 26px black;
  --filter-info: hsl(236, 9%, 61%);
  --bg-image-mobile: url(../images/bg-mobile-dark.jpg);
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

.app {
  background-image: var(--bg-image-mobile);
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  position: relative;
}

.title__container, .filters {
  padding: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.title {
  text-transform: uppercase;
  font-size: 28px;
  letter-spacing: 12px;
  color: white;
}

.app_elements {
  position: relative;
  margin: 18px;
  margin-top: 0;
}

.input__form {
  border-radius: 4px;
  background-color: var(--elements-bg-color);
  padding: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.input input[type=text]:focus {
  outline: none;
}

.input input[type=text]::-webkit-input-placeholder {
  outline: none;
  color: var(--filter-info);
}

.input input[type=text]:-ms-input-placeholder {
  outline: none;
  color: var(--filter-info);
}

.input input[type=text]::-ms-input-placeholder {
  outline: none;
  color: var(--filter-info);
}

.input input[type=text]::placeholder {
  outline: none;
  color: var(--filter-info);
}

.input__form_field {
  background-color: var(--elements-bg-color);
  border: none;
}

.input__checkbox--notChecked {
  border-radius: 50%;
  border: 1px solid;
  border-color: var(--cb-border);
  width: 18px;
  height: 18px;
  margin-right: 12px;
}

.list {
  background-color: var(--elements-bg-color);
  -webkit-box-shadow: var(--shadow-outline);
          box-shadow: var(--shadow-outline);
  border-radius: 5px;
}

.todo_list {
  list-style-type: none;
  padding: 0;
}

.inline_task {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid;
  border-bottom-color: var(--cb-border);
  padding: 4px 0;
}

.inline_task__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4px 14px;
}

.btn__delete {
  cursor: pointer;
  justify-self: flex-end;
  padding-right: 18px;
}

.task {
  font-size: 12px;
  color: var(--text-color);
}

.strike {
  text-decoration: line-through;
  color: var(--task-complete-color);
}

.filters {
  background-color: var(--elements-bg-color);
  -webkit-box-shadow: var(--shadow-outline);
          box-shadow: var(--shadow-outline);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.filter__btn {
  border: none;
  background-color: transparent;
  font-size: 16px;
  font-weight: 700;
  color: var(--filter-info);
}

.filter__btn:focus,
.filters__info:focus {
  color: #3a7bfd;
}

.filters__info {
  padding: 2px 18px;
  font-size: 12px;
  color: var(--filter-info);
  border: none;
  background-color: transparent;
}

.cb__container {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 22px;
}

.cb__container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: var(--elements-bg-color);
  border: 1px solid;
  border-color: var(--cb-border);
  border-radius: 50%;
  margin-right: 10px;
}

.cb__container input:checked ~ .checkmark {
  background: linear-gradient(120deg, #57ddff, #c058f3);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.cb__container input:checked ~ .checkmark:after {
  display: block;
}

.cb__container .checkmark:after {
  left: 7px;
  top: 4px;
  width: 3px;
  height: 7px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
/*# sourceMappingURL=styles.css.map */