:root {
    --bg-color: hsl(0, 0%, 98%);
    --elements-bg-color: white;
    --text-color: hsl(235, 19%, 35%);
    --task-complete-color: hsl(233, 11%, 84%);
    --cb-border: hsl(236, 33%, 92%);
    --shadow-outline: 0px 0px 26px lightgray;
    --filter-info: hsl(236, 9%, 61%);

}

[data-theme="dark"] {
    --bg-color: hsl(235, 21%, 11%);
    --elements-bg-color: hsl(235, 24%, 19%);
    --text-color: hsl(234, 39%, 85%);
    --task-complete-color: hsl(234, 11%, 52%);
    --cb-border: hsl(233, 14%, 35%);
    --shadow-outline: 0px 0px 26px black;
    --filter-info: hsl(236, 9%, 61%);
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

.app {
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    position: relative;


}

.title__container, .filters {
    padding: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.title {
    text-transform: uppercase;
    font-size: 28px;
    letter-spacing: 12px;
    color: white;
}


.app_elements {
    position: relative; 
    margin: 18px;
    margin-top: 0;
}


.input {
    
    &__form {
        border-radius: 4px;
        background-color: var(--elements-bg-color);
        padding: 12px;
        display: flex;
        align-items: center;
        
    }
    
    input[type=text]:focus {
        outline: none;
        
    }
    
    input[type=text]::placeholder {
        outline: none;
        color: var(--filter-info);
    }
    
    &__form_field {
        background-color: var(--elements-bg-color);
        border: none;
    }



    &__checkbox--notChecked {
        border-radius: 50%;
        border: 1px solid;
        border-color: var(--cb-border);
        width: 18px;
        height: 18px;
        margin-right: 12px;
    }
}

.list {
    background-color: var(--elements-bg-color);
    box-shadow: var(--shadow-outline);
    border-radius: 5px;
}

.todo_list {
    list-style-type: none;
    padding: 0;
}

.inline_task {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid;
    border-bottom-color: var(--cb-border);
    padding: 4px 0;

    &__info {
        display: flex;
        align-items: center;
        padding: 4px 14px;
    }
}

.btn__delete {
    cursor: pointer;
    justify-self: flex-end;
    padding-right: 18px;
}


.task {
      font-size: 12px;
      color: var(--text-color)
}

.strike {
    text-decoration: line-through;
    color: var(--task-complete-color);
}

.filters {
    background-color: var(--elements-bg-color);
    box-shadow: var(--shadow-outline);
    display: flex;
    justify-content: center;
}

.filter__btn {
    border: none;
    background-color: transparent;
    font-size: 16px;
    font-weight: 700;
    color: var(--filter-info);
}

.filter__btn:focus, 
.filters__info:focus {
    color: hsl(220, 98%, 61%); 
}

.filters__info {
    padding: 2px 18px;
    font-size: 12px;
    color: var(--filter-info);
    border: none;
    background-color: transparent;
}

























// CHECKBOX STYLES

.cb__container {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 22px;
}

.cb__container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

}

.checkmark {
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: var(--elements-bg-color);
    border: 1px solid;
    border-color: var(--cb-border);
    border-radius: 50%;
    margin-right: 10px;
}

.cb__container input:checked ~ .checkmark {
    background: linear-gradient(120deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%))
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

// Show the checkmark when checked 
.cb__container input:checked ~ .checkmark:after {
    display: block;
}
  
// Style the checkmark/indicator 
.cb__container .checkmark:after {
    left: 7px;
    top: 4px;
    width: 3px;
    height: 7px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
